# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    { 'label': 'Data Atom - Execute', 'command': 'data-atom:execute' }
  ],
  '.db-list .table-name': [
    { 'label': 'Query Table', 'command': 'data-atom:query-table' }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Data Atom'
      'submenu': [
        { 'label': 'New Connection...', 'command': 'data-atom:new-connection' }
        { 'label': 'Execute', 'command': 'data-atom:execute' }
        { 'label': 'Toggle results view', 'command': 'data-atom:toggle-results-view' }
        { 'label': 'Toggle details view', 'command': 'data-atom:toggle-details-view' }
        { 'label': 'Edit connections', 'command': 'data-atom:edit-connections' }
      ]
    ]
  }
]
